@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inventory Manager!</h1>
    <p>Before I got into web development here at NewForce, I used to work for the City of Ashland's water distribution department. The system that was in place for keeping track of the parts that we were using was pretty "old school". So, I decided to make an app that keeps track of what parts are being used and who is using them in a much more effecient and modern way. Thank you so much for taking the time to check it out!</p>
</div>
